.features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.features-section .features-title-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 552px;
  min-height: 182px;
  margin-bottom: 80px;
}

.features-section .features-title-text-container .features-title-container {
  padding: 11px;
  margin-bottom: 6px;
}

.features-section .features-title-text-container .features-title-container h2 {
  color: #252B42;
  font-family: "Graphik";
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
  vertical-align: top;
}

.features-section .features-title-text-container .features-text-container {
  padding: 10px;
}

.features-section .features-title-text-container .features-text-container .features-text-2 {
  display: none;
}

.features-section .features-title-text-container .features-text-container h4 {
  color: #374754;
  font-family: "Graphik";
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
  vertical-align: top;
}

.features-section #mobile-video-image-container {
  display: none;
}

.features-section .feature-items-container {
  max-width: 873px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 132px;
}

.features-section .feature-items-container .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section .feature-items-container .feature h3 {
  padding: 10px;
  text-align: center;
  color: #252B42;
  font-family: "Graphik";
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  vertical-align: top;
  margin: 10px 0px;
}

.features-section .feature-items-container .feature p {
  padding: 0px 10px;
  color: #374754;
  font-family: "Graphik";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
  vertical-align: top;
}

.features-section .feature-items-container .feature-1 .image-container {
  height: 61px;
  width: 61px;
  padding: 8px;
}

.features-section .feature-items-container .feature-2 {
  margin: 0px 54px;
}

.features-section .feature-items-container .feature-2 .image-container {
  height: 56px;
  width: 56px;
  padding: 7px 5px;
}

.features-section .feature-items-container .feature-3 .image-container {
  height: 61px;
  width: 61px;
  padding: 8px 5px;
}

.features-section .video-image-container {
  position: relative;
  width: 1177px;
  height: 658px;
  background-image: url("../../assets/video_image.png");
  background-size: cover;
  background-position: center center;
  margin-bottom: 52px;
}

.features-section .video-image-container .play-button-circle {
  background-image: url("../../assets/Ellipse 3.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 187px;
  width: 187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section .video-image-container .play-button-circle .play-symbol-container {
  padding-left: 5px;
}

@media (min-width: 1800px) {
  .features-section .features-title-text-container {
    max-width: 752px;
  }
  .features-section .features-title-text-container .features-title-container h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
  }
  .features-section .features-title-text-container .features-text-container h4 {
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
  }
  .features-section .feature-items-container {
    max-width: 1073px;
  }
  .features-section .feature-items-container .feature h3 {
    padding: 10px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.2px;
    vertical-align: top;
    margin: 10px 0px;
  }
  .features-section .feature-items-container .feature p {
    font-size: 20px;
    line-height: 28px;
  }
  .features-section .feature-items-container .feature-1 .image-container {
    height: 75px;
    width: 75px;
    padding: 8px;
  }
  .features-section .feature-items-container .feature-2 {
    margin: 0px 60px;
  }
  .features-section .feature-items-container .feature-2 .image-container {
    height: 70px;
    width: 70px;
    padding: 7px 5px;
  }
  .features-section .feature-items-container .feature-3 .image-container {
    height: 75px;
    width: 75px;
    padding: 8px 5px;
  }
  .features-section .video-image-container {
    width: 66.45%;
    height: 37.05vw;
  }
}

@media (max-width: 1400px) {
  .features-section .feature-items-container .feature-2 {
    margin: 0px 30px;
  }
  .features-section .feature-items-container .feature-2 .image-container {
    height: 61px;
    width: 61px;
  }
}

@media (max-width: 1200px) {
  .features-section .features-title-text-container {
    margin-top: 20px;
  }
  .features-section .feature-items-container {
    max-width: 773px;
  }
  .features-section .feature-items-container .feature-2 {
    margin: 0px 20px;
  }
  .features-section .feature-items-container .feature-2 .image-container {
    height: 61px;
    width: 61px;
  }
  .features-section .video-image-container {
    width: 90%;
    height: 51.6vw;
  }
  .features-section .video-image-container .play-button-circle {
    height: 162px;
    width: 162px;
  }
  .features-section .video-image-container .play-button-circle .play-symbol-container img {
    height: 40px;
    width: 33px;
  }
}

@media (max-width: 992px) {
  .features-section .features-title-text-container {
    margin-top: 40px;
  }
  .features-section .feature-items-container {
    max-width: 673px;
  }
  .features-section .video-image-container {
    width: 95%;
    height: 53.05vw;
  }
  .features-section .video-image-container .play-button-circle {
    height: 137px;
    width: 137px;
  }
  .features-section .video-image-container .play-button-circle .play-symbol-container img {
    height: 34px;
    width: 28px;
  }
}

@media (max-width: 768px) {
  .features-section .features-title-text-container {
    margin-top: 60px;
  }
  .features-section .feature-items-container {
    max-width: 550px;
  }
  .features-section .video-image-container .play-button-circle {
    height: 112px;
    width: 112px;
  }
  .features-section .video-image-container .play-button-circle .play-symbol-container img {
    height: 28px;
    width: 23px;
  }
}

@media (max-width: 576px) {
  .features-section .features-title-text-container {
    margin-top: 70px;
    min-height: auto;
    margin-bottom: 57px;
  }
  .features-section .features-title-text-container .features-text-container .features-text-1 {
    display: none;
  }
  .features-section .features-title-text-container .features-text-container .features-text-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features-section .video-image-container {
    display: none;
  }
  .features-section #mobile-video-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92.3%;
    height: 51.6vw;
    background-image: url("../../assets/mobile_video_image.png");
    margin-bottom: 57px;
  }
  .features-section #mobile-video-image-container .play-button-circle {
    height: 87px;
    width: 87px;
  }
  .features-section #mobile-video-image-container .play-button-circle .play-symbol-container img {
    height: 22px;
    width: 18px;
  }
  .features-section .feature-items-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 255px;
    margin-bottom: 80px;
  }
  .features-section .feature-items-container .feature-1 {
    margin-top: 18px;
  }
  .features-section .feature-items-container .feature-2 {
    margin: 75px 0px;
  }
  .features-section .feature-items-container .feature-3 {
    margin-bottom: 18px;
  }
}

@media (max-width: 420px) {
  .features-section #mobile-video-image-container .play-button-circle {
    height: 61px;
    width: 61px;
  }
  .features-section #mobile-video-image-container .play-button-circle .play-symbol-container img {
    height: 15px;
    width: 13px;
  }
}
/*# sourceMappingURL=features.css.map */