.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252B42;
  padding: 150px 0px;
}

.footer .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .content-container .menus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 125px;
}

.footer .content-container .menus-container .menu h3 {
  color: white;
  padding: 10px 0px;
  font-family: "Graphik";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}

.footer .content-container .menus-container .menu ul {
  list-style-type: none;
}

.footer .content-container .menus-container .menu ul li {
  margin-bottom: 16px;
}

.footer .content-container .menus-container .menu ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Graphik';
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  vertical-align: top;
}

.footer .content-container .menus-container .menu ul .last-li {
  margin-bottom: 0px;
}

.footer .content-container .menus-container .menu-1 {
  width: 170px;
}

.footer .content-container .menus-container .menu-2 {
  width: 186px;
  margin: 0px 20px;
}

.footer .content-container .menus-container .menu-3 {
  width: 186px;
}

.footer .content-container .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .content-container .contact-container .address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.footer .content-container .contact-container .address-container img {
  width: 46px;
  height: 46px;
}

.footer .content-container .contact-container .address-container a {
  color: white;
  text-decoration: none;
  padding: 0px 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  vertical-align: top;
}

.footer .content-container .contact-container .mobile-number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.footer .content-container .contact-container .mobile-number-container img {
  width: 35px;
  height: 35px;
}

.footer .content-container .contact-container .mobile-number-container a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

.footer .content-container .contact-container .social-media-logos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 20px 0px;
}

.footer .content-container .contact-container .social-media-logos-container div {
  width: 41px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .content-container .contact-container .social-media-logos-container div #image-1 {
  width: 33px;
  height: 27px;
}

.footer .content-container .contact-container .social-media-logos-container div #image-2, .footer .content-container .contact-container .social-media-logos-container div #image-3 {
  width: 32px;
  height: 32px;
}

.footer .content-container .contact-container .social-media-logos-container .div-2 {
  margin: 0px 24px;
}

@media (max-width: 1200px) {
  .footer .content-container .menus-container {
    margin-right: 50px;
  }
}

@media (max-width: 992px) {
  .footer .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .content-container .menus-container {
    margin: 0px;
    margin-bottom: 76px;
  }
  .footer .content-container .menus-container .menu {
    width: 186px;
  }
  .footer .content-container .menus-container .menu h3 {
    text-align: center;
  }
  .footer .content-container .menus-container .menu ul li {
    text-align: center;
  }
  .footer .content-container .contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90vw;
  }
  .footer .content-container .contact-container .address-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .content-container .contact-container .mobile-number-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer .content-container .menus-container .menu {
    width: 170px;
  }
  .footer .content-container .menus-container .menu-1 {
    width: 150px;
  }
  .footer .content-container .menus-container .menu-2 {
    margin-left: 0px;
  }
  .footer .content-container .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: auto;
  }
  .footer .content-container .contact-container .address-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .content-container .contact-container .mobile-number-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .content-container .contact-container .social-media-logos-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 0px;
  }
  .footer .content-container {
    margin: 107px auto;
  }
  .footer .content-container .menus-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 76px;
  }
  .footer .content-container .menus-container .menu {
    width: 186px;
  }
  .footer .content-container .menus-container .menu-1 {
    margin-bottom: 73px;
  }
  .footer .content-container .menus-container .menu-2 {
    margin: 0px;
    margin-bottom: 73px;
  }
}
/*# sourceMappingURL=footer.css.map */