*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header{
  background-image: url("../assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  width: 100%;
  // border: 5px solid red;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 115px;

  .navbar{
    display: flex;
    justify-content: center;
    // align-items: center;
    // border: 3px solid red;

    .navigation-menu-container{
      margin-left: 50px;
      margin-right: 100px;

      ul{
        display: flex;
        list-style-type: none;
        margin: 57.5px 0px;

        li{
          margin-right: 21px;
          padding: 10px;

          a{
            font-family: 'Graphik';
            color: white;
            text-decoration: none;
          }
        }
        li:last-child{
          margin-right: 0px;
        }
      }
    }
    .logo-container{
      display: flex;
      padding: 10px;
      margin: 39px  0px;
      margin-left: 30px;
    }

    .menu-icon-container{
      display: none;
    }

    .social-media-logos-container{
      margin-left:300px;
      margin-top: 60px;
      margin-right: 12px;

      .social-media-logo{
        margin-right: 33px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 32px;
        height: 32px;
      }
      .first-social-media-logo{
        width: 33px;
        height: 27px;
      }
    }
  }

  .header-title-container{
    margin: 100px 0px 7px;
    padding: 10px;
    display: flex;
    justify-content: center;
    // border: 2px solid black;

    h1{
      max-width: 672px;
      font-family: 'Graphik';
      font-size:74px;
      line-height: 84px;
      vertical-align: top;
      font-weight: bold;
      letter-spacing: 0.2px;
      color:white;
      text-align: center;
      margin: 0px;
    }
    .header-title-2{
      display: none;
    }
  }

  .header-text-container{
    max-width: 786px;
    padding: 10px;
    margin-bottom: 80px;
    // border: 2px solid black;

    h4{
      color: white;
      font-size: 28px;
      font-family: 'graphik';
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.2px;
      text-align: center;
      vertical-align: top;
      margin: 0px;
    }
    .header-text-2{
      display: none;
    }
  }

  .basic-button{
    width: 236px;
    height: 52px;
    border-radius: 35px;
    padding: 16px 0px;
    font-size: 20px;
    font-family: 'Graphik';
    line-height: 20px;
    border: none;
    outline: none;
    background-color: #2091F9;
    color: white;
    margin-bottom: 243px;
  }
}

@media(max-width:1776px){
  .header{
    .navbar{

      .navigation-menu-container{
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
}

@media(max-width:1400px){
  .header{

    .navbar{

      .social-media-logos-container{
        margin-left: 200px;
      }
    }
  }
}

@media(max-width:1200px){
  .header{
    margin-bottom: 90px;
    .navbar{

      .navigation-menu-container{
        
        ul{
          margin: 45px 0px;
          li{
            margin-right: 10px;
          }
        }
      }
      .logo-container{
        margin: 24px 0px;
      }
      .social-media-logos-container{
        margin-left: 80px;
        margin-top: 48px;
      }
    }
  }
}

@media(max-width:992px){
  .header{
    margin-bottom: 60px;
    .navbar{
      justify-content: space-between;
      width: 100%;

      .navigation-menu-container{
        margin-left: 30px;
      }

      .logo-container{
        margin-right: 30px;
      }

      .social-media-logos-container{
        display: none;
      }
    }
  }

  .header-title-container{
    margin-top: 80px;

    h1{
      font-size: 60px;
      line-height: 70px;
      font-weight: 500;
    }
  }

}

@media(max-width:768px){
  .header{
    margin-bottom: 40px;
    .navbar{
      position: relative;
      width: calc(100% - 100px);

      .navigation-menu-container{
        position: absolute;
        top: 50%;
        display: none;
        margin-left: 0px;
        width:100%;
        
        ul{
          flex-direction: column;
          margin-top: 20px;
          width:100%;
          background-color: rgba(238, 238, 235, 0.849);

          li{
            margin: 0px;
            a{
              color: black;
            }
          }
          li:hover{
            background-color: rgba(102, 102, 102, 0.651);
          }
        }
      }

      .show{
        display: flex;
      }

      .menu-icon-container{
        display: flex;
        margin-top: 55px;
        
        .menu-icon{
          width: 27px;
          height: 16px;
        }
      }
    }
  }
}

@media(max-width:576px){
  .header{
    margin-bottom: 25px;
    .header-title-container{
      .header-title-2{
        display: flex;
        color: white;
        font-family: 'Graphik';
        font-size: 48px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: 0.2px;
        text-align: center;
        vertical-align: top;
        
      }
      .header-title-1{
        display: none;
      }
    }

    .header-text-container{
      margin-bottom: 60px;
    
      .header-text-2{
        display: flex;
        color: white;
        font-size: 28px;
        font-family: 'graphik';
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.2px;
        text-align: center;
        vertical-align: top;
      }
  
      .header-text-1{
        display: none;
      }
    }
  }
}

@media(max-width:420px){
  .header{
    margin-bottom: 19px;
    .navbar{
      width: calc(100% - 30px);

      .navigation-menu-container{
        margin-top: 20px;
      }

      .logo-container{
        margin-top: 21px;
        margin-bottom: 0px;
      }
      .menu-icon-container{
        margin-top: 52px;
      }
    }
  }
}