* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  background-image: url("../assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 115px;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar .navigation-menu-container {
  margin-left: 50px;
}

.header .navbar .navigation-menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 57.5px 0px;
}

.header .navbar .navigation-menu-container ul li {
  margin-right: 21px;
  padding: 10px;
}

.header .navbar .navigation-menu-container ul li a {
  font-family: 'Graphik';
  color: white;
  text-decoration: none;
}

.header .navbar .navigation-menu-container ul li:last-child {
  margin-right: 0px;
}

.header .navbar .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 39px  0px;
  margin-left: 30px;
}

.header .navbar .menu-icon-container {
  display: none;
}

.header .navbar .social-media-logos-container {
  margin-left: 300px;
  margin-top: 60px;
  margin-right: 12px;
}

.header .navbar .social-media-logos-container .social-media-logo {
  margin-right: 33px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 32px;
  height: 32px;
}

.header .navbar .social-media-logos-container .first-social-media-logo {
  width: 33px;
  height: 27px;
}

.header .header-title-container {
  margin: 100px 0px 7px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-title-container h1 {
  max-width: 672px;
  font-family: 'Graphik';
  font-size: 74px;
  line-height: 84px;
  vertical-align: top;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: white;
  text-align: center;
  margin: 0px;
}

.header .header-title-container .header-title-2 {
  display: none;
}

.header .header-text-container {
  max-width: 786px;
  padding: 10px;
  margin-bottom: 80px;
}

.header .header-text-container h4 {
  color: white;
  font-size: 28px;
  font-family: 'graphik';
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
  vertical-align: top;
  margin: 0px;
}

.header .header-text-container .header-text-2 {
  display: none;
}

.header .basic-button {
  width: 236px;
  height: 52px;
  border-radius: 35px;
  padding: 16px 0px;
  font-size: 20px;
  font-family: 'Graphik';
  line-height: 20px;
  border: none;
  outline: none;
  background-color: #2091F9;
  color: white;
  margin-bottom: 243px;
}

@media (max-width: 1776px) {
  .header .navbar .navigation-menu-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 1400px) {
  .header .navbar .social-media-logos-container {
    margin-left: 200px;
  }
}

@media (max-width: 1200px) {
  .header {
    margin-bottom: 90px;
  }
  .header .navbar .navigation-menu-container ul {
    margin: 45px 0px;
  }
  .header .navbar .navigation-menu-container ul li {
    margin-right: 10px;
  }
  .header .navbar .logo-container {
    margin: 24px 0px;
  }
  .header .navbar .social-media-logos-container {
    margin-left: 80px;
    margin-top: 48px;
  }
}

@media (max-width: 992px) {
  .header {
    margin-bottom: 60px;
  }
  .header .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header .navbar .navigation-menu-container {
    margin-left: 30px;
  }
  .header .navbar .logo-container {
    margin-right: 30px;
  }
  .header .navbar .social-media-logos-container {
    display: none;
  }
  .header-title-container {
    margin-top: 80px;
  }
  .header-title-container h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 40px;
  }
  .header .navbar {
    position: relative;
    width: calc(100% - 100px);
  }
  .header .navbar .navigation-menu-container {
    position: absolute;
    top: 50%;
    display: none;
    margin-left: 0px;
    width: 100%;
  }
  .header .navbar .navigation-menu-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    width: 100%;
    background-color: rgba(238, 238, 235, 0.849);
  }
  .header .navbar .navigation-menu-container ul li {
    margin: 0px;
  }
  .header .navbar .navigation-menu-container ul li a {
    color: black;
  }
  .header .navbar .navigation-menu-container ul li:hover {
    background-color: rgba(102, 102, 102, 0.651);
  }
  .header .navbar .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar .menu-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 55px;
  }
  .header .navbar .menu-icon-container .menu-icon {
    width: 27px;
    height: 16px;
  }
}

@media (max-width: 576px) {
  .header {
    margin-bottom: 25px;
  }
  .header .header-title-container .header-title-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-family: 'Graphik';
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: top;
  }
  .header .header-title-container .header-title-1 {
    display: none;
  }
  .header .header-text-container {
    margin-bottom: 60px;
  }
  .header .header-text-container .header-text-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-size: 28px;
    font-family: 'graphik';
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: top;
  }
  .header .header-text-container .header-text-1 {
    display: none;
  }
}

@media (max-width: 420px) {
  .header {
    margin-bottom: 19px;
  }
  .header .navbar {
    width: calc(100% - 30px);
  }
  .header .navbar .navigation-menu-container {
    margin-top: 20px;
  }
  .header .navbar .logo-container {
    margin-top: 21px;
    margin-bottom: 0px;
  }
  .header .navbar .menu-icon-container {
    margin-top: 52px;
  }
}
/*# sourceMappingURL=header.css.map */