.pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #252B42;
  .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;

    h2{
      width: 178px;
      padding: 10px;
      color: white;
      font-family: 'Graphik';
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.2px;
      text-align: center;
      vertical-align: top;
      margin-bottom: 7px;
    }

    h4{
      width: 552px;
      padding: 10px;
      color: white;
      font-family: 'Graphik';
      font-weight: 400;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0.2px;
      text-align: center;
      vertical-align: top;
    }
    .text-2{
      display: none;
    }
  }
  .cards-container{
    display: flex;
    margin-bottom: 100px;
    //  price section 23px extra.

    .card{
      width: 335px;
      outline: 1px solid #DEDEDE;
      outline-offset: -1px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-title-container{
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
          color: #252B42;
          font-family: 'Graphik';
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.1px;
          vertical-align: top;
          margin: 3px 0px;
        }

        h5{
          width: 148px;
          color: #374754;
          font-family: 'Graphik';
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
          letter-spacing: 0.1px;
          text-align: center;
          vertical-align: top;
        }
      }

      .price{
        display: flex;
        margin-bottom: 30px;
        h1{
          color: #252B42;
          padding: 0px 10px;
          font-family: 'Graphik';
          font-weight: 700;
          font-size: 74px;
          line-height: 84px;
          letter-spacing: 0.2px;
          vertical-align: top;
        }
        .unit-container{
          padding-top: 10px;
          h3{
            color: #252B42;
            font-family: 'Graphik';
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.1px;
            vertical-align: top;
          }
          h5{
            color: #374754;
            font-family: 'Graphik';
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.1px;
            vertical-align: top;
          }
        }
      }

      ul{
        list-style-type: none;
        margin-bottom: 30px;

        li{
          color: #252B42;
          padding: 10px;
          margin: 0px 63px;
          font-family: 'Graphik';
          font-weight: 400;
          font-size: 15px;
          line-height: 28px;
          letter-spacing: 0.2px;
          vertical-align: top;
        }
      }

      button{
        width: 255px;
        height: 56px;
        border: none;
        outline: none;
        border-radius: 35px;
        padding: 18px 38px;
        background-color:#2091F9;
        color: white;
        font-family: 'Graphik';
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.2px;
        vertical-align: top;
        margin-bottom: 40px;
      }
    }

    .card-1,.card-3{
      margin: 43px 0px;
      background-color: white;
    }

    .card-2{
      margin: 0px 50px;
      background-color: #2091F9;

      .card-title-container{
        margin-top: 83px;
        h3{
          color: white;
        }
        h5{
          color: white;
        }
      }

      .price{
        
        h1{
          color: white;
         
        }
        .unit-container{
          h3{
            color:white;
          }
          h5{
            color: white;
          }
        }
      }
      ul{
        li{
          color: white;  
        }
      }
      button{
        color: #2091F9;
        background-color: white;
        margin-bottom: 83px;
      }
    }
  }
}

@media(max-width:1200px){
  .pricing{
    .cards-container{
      .card{
        width: 300px;
      }
      .card-2{
        margin: 0px 30px;
      }
    }
  }
}

@media(max-width:992px){
  .pricing{
    .cards-container{
      flex-direction: column;
      align-items: center;
      .card{
        width: 335px;
      }
      .card-2{
        margin: 0px;
        .card-title-container{
          margin-top: 40px;
        }
        button{
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media(max-width:576px){
  .pricing{
    .text-container{
      margin-top: 111px;

      .text-1{
        display: none;
      }
      .text-2{
        display: flex;
        width: 90vw;
      }
    }
    .cards-container{
      .card-1{
        margin-top: 18px;
        margin-bottom: 50px;
      }
      .card-3{
        margin-top: 50px;
        margin-bottom: 18px;
      }
    }
  }
}

@media(max-width:420px){
  .pricing{
    .text-container{
      .text-2{
        width: 68.2vw;
      }
    }
    .cards-container{
      // price 23*3px exrta.
      .card{
        width: 290px;
      }
    }
  }
}
