.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 1155px;
  background-color: #252B42;
}

.pricing .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 552px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.pricing .text-container h2 {
  width: 178px;
  padding: 10px;
  color: white;
  font-family: 'Graphik';
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 7px;
}

.pricing .text-container h4 {
  width: 552px;
  padding: 10px;
  color: white;
  font-family: 'Graphik';
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
  vertical-align: top;
}

.pricing .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.pricing .cards-container .card {
  width: 335px;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .cards-container .card .card-title-container {
  margin-top: 40px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .cards-container .card .card-title-container h3 {
  color: #252B42;
  font-family: 'Graphik';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  vertical-align: top;
}

.pricing .cards-container .card .card-title-container h5 {
  width: 148px;
  color: #374754;
  font-family: 'Graphik';
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: top;
}

.pricing .cards-container .card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.pricing .cards-container .card .price h1 {
  color: #252B42;
  padding: 0px 10px;
  font-family: 'Graphik';
  font-weight: 700;
  font-size: 74px;
  line-height: 84px;
  letter-spacing: 0.2px;
  vertical-align: top;
}

.pricing .cards-container .card .price .unit-container {
  padding-top: 10px;
}

.pricing .cards-container .card .price .unit-container h3 {
  color: #252B42;
  font-family: 'Graphik';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  vertical-align: top;
}

.pricing .cards-container .card .price .unit-container h5 {
  color: #374754;
  font-family: 'Graphik';
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  vertical-align: top;
}

.pricing .cards-container .card ul {
  list-style-type: none;
  margin-bottom: 30px;
}

.pricing .cards-container .card ul li {
  color: #252B42;
  padding: 10px;
  margin: 0px 63px;
  font-family: 'Graphik';
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  vertical-align: top;
}

.pricing .cards-container .card button {
  width: 255px;
  height: 56px;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 18px 38px;
  background-color: #2091F9;
  color: white;
  font-family: 'Graphik';
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  vertical-align: top;
  margin-bottom: 40px;
}

.pricing .cards-container .card-1, .pricing .cards-container .card-3 {
  margin: 43px 0px;
  background-color: white;
}

.pricing .cards-container .card-2 {
  margin: 0px 50px;
  background-color: #2091F9;
}

.pricing .cards-container .card-2 .card-title-container {
  margin-top: 83px;
}

.pricing .cards-container .card-2 .card-title-container h3 {
  color: white;
}

.pricing .cards-container .card-2 .card-title-container h5 {
  color: white;
}

.pricing .cards-container .card-2 .price h1 {
  color: white;
}

.pricing .cards-container .card-2 .price .unit-container h3 {
  color: white;
}

.pricing .cards-container .card-2 .price .unit-container h5 {
  color: white;
}

.pricing .cards-container .card-2 ul li {
  color: white;
}

.pricing .cards-container .card-2 button {
  color: #2091F9;
  background-color: white;
}
/*# sourceMappingURL=pricing.css.map */