.prototype-container {
  max-width: 1440px;
  margin: auto;
}

.prototype-container .prototype-content {
  margin: 44px 0px 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prototype-container .prototype-content .prototype-image-container {
  margin-left: 119px;
  margin-right: 50px;
  margin-top: 106px;
  padding: 9px 0px;
}

.prototype-container .prototype-content .prototype-image-container img {
  width: 677px;
  height: 532px;
}

.prototype-container .prototype-content .prototype-text-container {
  margin-right: 50px;
  margin-top: 69px;
  margin-bottom: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.prototype-container .prototype-content .prototype-text-container .text-content-container {
  margin-left: 63px;
  margin-bottom: 15px;
  margin-top: 121px;
  width: 324px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prototype-container .prototype-content .prototype-text-container .text-content-container h2 + h2 {
  display: none;
}

.prototype-container .prototype-content .prototype-text-container .text-content-container h2 {
  padding: 10px 0px;
  color: #252B42;
  font-size: 48px;
  font-family: "Graphik";
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  vertical-align: top;
}

.prototype-container .prototype-content .prototype-text-container .text-content-container h3 {
  width: 174px;
  color: #252B42;
  font-size: 20px;
  font-family: "Graphik";
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0.1px;
  vertical-align: top;
  margin-bottom: 7px;
}

.prototype-container .prototype-content .prototype-text-container .text-content-container h4 {
  display: none;
}

.prototype-container .prototype-content .prototype-text-container .mobile-view-image-container {
  display: none;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container {
  margin-left: 63px;
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container h3 {
  width: 277px;
  color: #252B42;
  font-size: 20px;
  font-family: "Graphik";
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0.1px;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 10px;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container p {
  width: 301px;
  color: #374754;
  font-size: 18px;
  font-family: "Graphik";
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.2px;
  vertical-align: top;
  margin-left: 10px;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container .action-content {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container .action-content input {
  width: 273px;
  height: 54px;
  border-radius: 39px;
  background-color: #F4F4F4;
  border: 1px solid #E8E8E8;
  margin-right: 12px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  color: #18171D;
  padding-left: 39px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container .action-content :-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  color: #18171D;
  padding-left: 39px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  color: #18171D;
  padding-left: 39px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::placeholder {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  color: #18171D;
  padding-left: 39px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.prototype-container .prototype-content .prototype-text-container .action-content-container .action-content .basic-button {
  width: 172px;
  height: 58px;
  border-radius: 35px;
  padding: 19px 38px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Graphik';
  line-height: 20px;
  letter-spacing: 0.2px;
  border: none;
  outline: none;
  background-color: #2091F9;
  color: white;
  margin-top: 34px;
  margin-bottom: 34px;
}

@media (max-width: 1600px) {
  .prototype-container .prototype-content .prototype-image-container {
    margin-left: 50px;
  }
}

@media (max-width: 1400px) {
  .prototype-container .prototype-content .prototype-image-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .prototype-container .prototype-content .prototype-image-container img {
    width: 48.35vw;
    height: 36.7vw;
  }
  .prototype-container .prototype-content .prototype-text-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h3 {
    text-align: center;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h2 {
    text-align: center;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container h3 {
    text-align: center;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container p {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .prototype-container .prototype-content .prototype-image-container {
    margin-top: 70px;
  }
  .prototype-container .prototype-content .prototype-text-container {
    margin-top: 85px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container {
    margin-left: 40px;
    margin-top: 60px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h3 {
    font-size: 17px;
    line-height: 23px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h2 {
    font-size: 37px;
    line-height: 44px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container {
    margin-left: 40px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container h3 {
    font-size: 17px;
    line-height: 23px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container p {
    font-size: 14px;
    line-height: 23px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content input {
    width: 230px;
    height: 47px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-webkit-input-placeholder {
    padding-left: 19px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content :-ms-input-placeholder {
    padding-left: 19px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-ms-input-placeholder {
    padding-left: 19px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::placeholder {
    padding-left: 19px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content .basic-button {
    width: 140px;
    height: 47px;
    padding: 10px 19px;
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 992px) {
  .prototype-container .prototype-content .prototype-image-container {
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 20px;
  }
  .prototype-container .prototype-content .prototype-text-container {
    margin-right: 10px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container {
    margin-left: 0px;
    margin-top: 40px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container {
    margin-left: 0px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content input {
    width: 180px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 16px;
    padding-left: 10px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content :-ms-input-placeholder {
    font-size: 13px;
    line-height: 16px;
    padding-left: 10px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-ms-input-placeholder {
    font-size: 13px;
    line-height: 16px;
    padding-left: 10px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::placeholder {
    font-size: 13px;
    line-height: 16px;
    padding-left: 10px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content .basic-button {
    width: 100px;
    height: 40px;
    padding: 10px 5px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .prototype-container .prototype-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prototype-container .prototype-content .prototype-image-container {
    margin: 0px 30px 50px;
    padding: 0px;
  }
  .prototype-container .prototype-content .prototype-image-container img {
    display: block;
    width: 88.75vw;
    height: 83vw;
  }
  .prototype-container .prototype-content .prototype-text-container {
    margin: 50px 0px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container {
    margin-bottom: 15px;
    margin-top: 50px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h2 {
    font-size: 48px;
    line-height: 55px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container h3 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container p {
    font-size: 18px;
    line-height: 25px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content input {
    width: 273px;
    height: 54px;
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    padding-left: 39px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content :-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    padding-left: 39px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    padding-left: 39px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::placeholder {
    font-size: 14px;
    line-height: 16px;
    padding-left: 39px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content .basic-button {
    width: 172px;
    height: 58px;
    padding: 19px 38px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 34px;
    margin-bottom: 34px;
  }
}

@media (max-width: 576px) {
  .prototype-container .prototype-content {
    margin: 0px;
  }
  .prototype-container .prototype-content .prototype-image-container {
    display: none;
  }
  .prototype-container .prototype-content .prototype-text-container {
    margin: 0px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container {
    margin-top: 80px;
    margin-bottom: 59px;
    width: auto;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h3 {
    margin-bottom: 7px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h3 + h2 {
    display: none;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h2 + h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h2 {
    padding: 10px;
    margin-bottom: 7px;
  }
  .prototype-container .prototype-content .prototype-text-container .text-content-container h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    width: 89vw;
    color: #374754;
    font-size: 28px;
    font-family: 'Graphik';
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: top;
  }
  .prototype-container .prototype-content .prototype-text-container .mobile-view-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 59px;
  }
  .prototype-container .prototype-content .prototype-text-container .mobile-view-image-container img {
    width: 88.75vw;
    height: 83vw;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container {
    margin-bottom: 80px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container p {
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content {
    margin-left: 10px;
    margin-right: 10px;
    padding: 24px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content input {
    width: 353px;
    height: 54px;
    margin-bottom: 12px;
    margin-top: 0px;
    margin-right: 0px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-webkit-input-placeholder {
    padding-left: 35px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content :-ms-input-placeholder {
    padding-left: 35px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::-ms-input-placeholder {
    padding-left: 35px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content ::placeholder {
    padding-left: 35px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content .basic-button {
    width: 353px;
    height: 54px;
    padding: 17px 35px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 420px) {
  .prototype-container .prototype-content .prototype-text-container .action-content-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container p {
    margin-right: 0px;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content input {
    width: 84.45vw;
  }
  .prototype-container .prototype-content .prototype-text-container .action-content-container .action-content .basic-button {
    width: 84.45vw;
  }
}
/*# sourceMappingURL=prototype.css.map */