$font-1:#252B42;
$font-2:#374754;
$placeholder:#18171D;
$buttton:#2091F9;
$family-1:'Graphik';
$family-2:'Roboto', sans-serif;
$weight-1:400;
$weight-2:700;
$weight-3:bold;
$size-1:48px;
$size-2:28px;
$size-3:20px;
$height-1:55px;
$height-2:40px;
$height-3:28px;
$spacing-1:0.1px;
$spacing-2:0.2px;